@media screen  and (max-width:320px){
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  :root {
    --body-bg-color: #121214;
    --text-color: #e1e1e6;
    --title-color: #04d361;
    --form-color: #a8a8a8;
    --bg-button-color: #8257e5;
    font-family: "Spartan", sans-serif;
    font-family: "Work Sans", sans-serif;
  }

  body {
    height: 100vh;
    display:flex;
    flex-direction: column;
    overflow-x: hidden;
    background-color: var(--body-bg-color);
  }

  #logo {
    width: 17rem;
  }

  #man {
    display: none;
  }

  .title {
    width: 19rem;
    text-align: left;
  }
     
  aside {
  display: none;
  }

  main {
    display:flex;
    flex-direction: column;
    justify-content: center;
  }
  input {
    display: flex;
    width: 14rem;
    height: 3rem;
  }

  button {
    display: flex;
    width: 48.36px;
    height: 49px;
    background: #8257e5;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    margin-left: 14rem;
    margin-top: -8.2%;
    border: none;
    margin-bottom: 3.125rem;
  
  }
} 

