* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --body-bg-color: #121214;
  --text-color: #e1e1e6;
  --title-color: #04d361;
  --form-color: #a8a8a8;
  --bg-button-color: #8257e5;
  font-family: "Spartan", sans-serif;
  font-family: "Work Sans", sans-serif;
}

body {
  height: 100vh;
  display: grid;
  grid-template-areas:
    "header aside"
    "main aside";
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  overflow-x: hidden;
  background-color: var(--body-bg-color);
}

header {
  grid-area: header;
  margin-top: 3.125rem;
  width: 100%;
  object-fit: cover;
}

#logo {
  position: relative;
  margin: 0px 0px 0px 1.875rem;
  width: 24.312rem;
  height: 5.875rem;
  z-index: 1;
}

aside {
  grid-area: aside;
}

#man {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: 80% 100%;
}

main {
  grid-area: main;
}

h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: var(--title-color);
  margin: 5.75rem 0px 9px 1.875rem;
}

.text {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: var(--text-color);
  margin: 0px 0px 0px 1.875rem;
}

.description {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;

  color: var(--text-color);
  margin: 0px 0px 0px 1.875rem;
}

p {
  margin-bottom: 9px;
}

form {
  width: 49.875rem;
  height: 5.25rem;
  margin: 0px 0px 0px 1.875rem;
  z-index: 1;
}

input {
  width: 46.875rem;
  height: 3rem;
}

label {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 138.73%;
  color: #a8a8a8;
}

input[type="email"] {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  margin: 17px 0;
  /* width: 50%; */
  padding: 15px 20px;
  border-color: #04d361;
  border-left-style: solid;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
}

button {
  display: flex;
  width: 48.36px;
  height: 49px;
  background: #8257e5;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  margin-left: 94%;
  margin-top: -8.2%;
  border: none;
  margin-bottom: 3.125rem;
}

.link {
  display: flex;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 138.73%;
  background-repeat: no-repeat;
}
